.productCart {
  background-color: #8cae78;
  font-weight: bold;
  color: white
}

.ticketCart {
  background-color: #b0b0b0;
  font-weight: bold;
  color: white
}

.eventCart {
  background-color: #ebbaba;
  font-weight: bold;
  color: white
}

img {
  width: 64px;
  height: 64px;
}