<!-- Header Start -->
<div class="container-fluid page-header">
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
      <h3 class="display-4 text-white text-uppercase">購物車</h3>
      <div class="d-inline-flex text-white">
        <p class="m-0 text-uppercase"><a class="text-white" routerLink="">首頁</a></p>
        <i class="fa fa-angle-double-right pt-1 px-3"></i>
        <p class="m-0 text-uppercase">購物車</p>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- start your coding here-->
<div class="container  py-1 mt-2">



  <!-- Loading -->
  <div *ngIf="isLoading" class="text-center my-3">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <p>努力載入中...</p>
  </div>

  <!-- 景點 -->
  <div class="container mt-3" *ngIf="tickets.length>0">
    <div class="row">
      <div class="col-12">
        <div class="card p-2 mb-2 shadow rounded">
          <div class="row align-items-center ticketCart border-bottom p-2 mb-1">
            <div class="col-1 text-center">
              <input type="checkbox" [(ngModel)]="selectAllTickets" (click)="toggleAllTickets()" />
            </div>
            <div class="col-4 text-left">景點票券
            </div>
            <div class="col-2 text-center">單價</div>
            <div class="col-2 text-center">數量</div>
            <div class="col-2 text-center">小計</div>
            <div class="col-1 text-center">操作</div>
          </div>
          <div class="row align-items-center p-2" *ngFor="let item of tickets">
            <div class="col-1 text-center">
              <input type="checkbox" [(ngModel)]="item.selected" [checked]="item.selected"
                (change)="processCartItems()" />
            </div>
            <div class="col-1 text-center">
              <img *ngIf="item.fSingleImage" [src]="'data:image/png;base64,' + item.fSingleImage"
                class="img-fluid rounded" alt="商品圖片" />
            </div>
            <div class="col-3 text-left">
              <p class="h6">{{ item.fItemName }}&nbsp;&nbsp;{{ item.fSpecification}}</p>
            </div>
            <div class="col-2 text-center">
              <p class="text-danger font-weight-bold" style="font-size: 16px;">NT${{ item.fPrice | number:'1.0-0' }}</p>
            </div>
            <div class="col-2 text-center">
              <div class="input-group input-group-sm justify-content-center">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-primary" (click)="decreaseQuantity(item)">-</button>
                </div>
                <input type="text" class="form-control text-center bg-light" [value]="item.fQuantity" readonly
                  style="max-width: 45px;" />
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="increaseQuantity(item)">+</button>
                </div>
              </div>
            </div>
            <div class="col-2 text-center">
              <p class="text-success font-weight-bold " style="font-size: 16px;">NT${{ item.fPrice * item.fQuantity |
                number:'1.0-0' }}</p>
            </div>
            <!-- 刪除鈕 -->
            <div class="col-1 text-center ">
              <button class="btn btn-danger btn-sm rounded-pill p-2" (click)="removeItem(item.fCartItemId)">&nbsp;<i
                  class="fa-solid fa-trash"></i>&nbsp;</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 活動報名費 -->
  <div class="container" *ngIf="eventFee.length>0">
    <div class="row">
      <div class="col-12">
        <div class="card p-2 mb-2 shadow rounded">
          <div class=" row align-items-center eventCart border-bottom p-2 mb-1">
            <div class="col-1 text-center">
              <input type="checkbox" [(ngModel)]="selectAllEvents" (click)="toggleAllEvents()" />
            </div>
            <div class="col-4 text-left">活動報名</div>
            <div class="col-2 text-center">單價</div>
            <div class="col-2 text-center">數量</div>
            <div class="col-2 text-center">小計</div>
            <div class="col-1 text-center">操作</div>
          </div>
          <div class="row align-items-center p-2" *ngFor="let item of eventFee">
            <div class="col-1 text-center">
              <input type="checkbox" [(ngModel)]="item.selected" [checked]="item.selected"
                (change)="processCartItems()" />
            </div>
            <div class="col-1 text-center">
              <img *ngIf="item.fSingleImage" [src]="'data:image/png;base64,' + item.fSingleImage"
                class="img-fluid rounded" alt="商品圖片" />
            </div>
            <div class="col-3  text-left">
              <p class="h6">{{ item.fItemName }}
              </p>
            </div>
            <div class="col-2 text-center">
              <p class="text-danger font-weight-bold" style="font-size: 16px;">NT${{ item.fPrice | number:'1.0-0' }}</p>
            </div>
            <div class="col-2 text-center">
              <div class="input-group input-group-sm justify-content-center">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-primary" (click)="decreaseQuantity(item)">-</button>
                </div>
                <input type="text" class="form-control text-center bg-light" [value]="item.fQuantity" readonly
                  style="max-width: 45px;" />
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="increaseQuantity(item)">+</button>
                </div>
              </div>
            </div>
            <div class="col-2 text-center">
              <p class="text-success font-weight-bold" style="font-size: 16px;">NT${{ item.fPrice * item.fQuantity |
                number:'1.0-0' }}</p>
            </div>
            <!-- 刪除鈕 -->
            <div class="col-1 text-center ">
              <button class="btn btn-danger btn-sm rounded-pill p-2" (click)="removeItem(item.fCartItemId)">&nbsp;<i
                  class="fa-solid fa-trash"></i>&nbsp;</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 商品 -->
  <div class="container">
    <div class="row" *ngFor="let seller of sellers">
      <div class="col-12">
        <div class="card p-2 mb-2 shadow rounded">
          <div class="row align-items-center productCart border-bottom p-2 mb-1">
            <div class="col-1 text-center">
              <input type="checkbox" [(ngModel)]="seller.selected" (change)="toggleSellerSelection(seller)" />
            </div>
            <div class="col-4 text-left">
              <strong class="h6" style="color:white;">{{ seller.name }}</strong>
            </div>
            <div class="col-2 text-center">單價</div>
            <div class="col-2 text-center">數量</div>
            <div class="col-2 text-center">小計</div>
            <div class="col-1 text-center">操作</div>
          </div>
          <div class="row align-items-center p-2" *ngFor="let item of seller.products">
            <div class="col-1 text-center">
              <input type="checkbox" [(ngModel)]="item.selected" (change)="processCartItems()" />
            </div>
            <div class="col-1 text-center">
              <img *ngIf="item.fSingleImage" [src]="'data:image/png;base64,' + item.fSingleImage"
                class="img-fluid rounded" alt="商品圖片" />
            </div>
            <div class="col-3 text-left">
              <p class="h6">{{ item.fItemName }}</p>
            </div>
            <div class="col-2 text-center">
              <p class="text-danger font-weight-bold" style="font-size: 16px;">NT${{ item.fPrice | number:'1.0-0' }}</p>
            </div>
            <div class="col-2 text-center">
              <div class="input-group input-group-sm justify-content-center">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-primary" (click)="decreaseQuantity(item)">-</button>
                </div>
                <input type="text" class="form-control text-center bg-light" [min]="1" [max]="item.fProductStock"
                  [value]="item.fQuantity" readonly style="max-width: 45px;" />
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="increaseQuantity(item)">+</button>
                </div>
              </div>
            </div>
            <div class="col-2 text-center">
              <p class="text-success font-weight-bold " style="font-size: 16px;">NT${{ item.fPrice * item.fQuantity |
                number:'1.0-0' }}</p>
            </div>
            <!-- 刪除鈕 -->
            <div class="col-1 text-center ">
              <button class="btn btn-danger btn-sm rounded-pill p-2" (click)="removeItem(item.fCartItemId)">&nbsp;<i
                  class="fa-solid fa-trash"></i>&nbsp;</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 固定在底部的結帳欄位 -->
  <div class="row fixed-bottom bg-white shadow-lg p-3 d-flex flex-wrap justify-content-between align-items-start"
    style="height: 15vh; overflow-y: auto;">

    <div class="d-flex flex-wrap w-100">
      <!-- 收件人資訊 -->
      <div class="d-flex flex-wrap align-items-center w-100">
        <div class="input-group mx-3 mb-2" style="width: 200px;">
          <div class="input-group-prepend">
            <span class="input-group-text">購買人</span>
          </div>
          <input type="text" class="form-control form-control-lg" [(ngModel)]="userInfo.fUserName">
        </div>

        <div class="input-group mx-3 mb-2" style="width: 220px;">
          <div class="input-group-prepend">
            <span class="input-group-text">電話</span>
          </div>
          <input type="text" class="form-control form-control-lg" [(ngModel)]="userInfo.fUserPhone">
        </div>

        <div class="input-group mx-3 mb-2" style="width: 600px;" *ngIf="this.fPaymentMethod=='Wallet'">
          <div class="input-group-prepend">
            <span class="input-group-text">收件地址</span>
          </div>
          <input type="text" class="form-control form-control-lg" [(ngModel)]="userInfo.fUserAddress">
        </div>
        <div class="input-group mx-3 mb-2" style="width: 600px;" *ngIf="this.fPaymentMethod=='Store'">
          <div class="input-group-prepend">
            <span class="input-group-text">取貨超商</span>
          </div>
          <input type="text" class="form-control form-control-lg" value={{this.storeInfo}}>
          <button class="btn btn-primary" (click)="openStoreMap()">請選擇取貨門市</button>
        </div>
      </div>

      <!-- 付款方式 & 按鈕 -->
      <div class=" d-flex flex-wrap align-items-center w-100 mt-2 justify-content-end">

        <!-- 付款方式 -->
        <div class="btn-group btn-group-toggle mx-3 mb-2" data-toggle="buttons">
          <label class="btn btn-outline-primary rounded btn-lg" [class.active]="fPaymentMethod === 'LinePay'">
            <input type="radio" name="paymentMethod" value="LinePay" (click)="updatePaymentMethod('LinePay')"> Line
            Pay
          </label>
          <label class="btn btn-outline-primary rounded btn-lg" #popoverButton data-toggle="popover"
            data-placement="top" data-content="" [class.active]="fPaymentMethod === 'Wallet'">
            <input type="radio" name="paymentMethod" value="Wallet" (click)="updatePaymentMethod('Wallet')"> 平台錢包
          </label>
          <label class="btn btn-outline-primary rounded btn-lg" [class.active]="fPaymentMethod === 'Store'">
            <input type="radio" name="paymentMethod" value="LinePay" (click)="updatePaymentMethod('Store')"> 全家貨到付款
          </label>
        </div>

        <!-- 總金額 -->
        <div class="mx-3 mb-2">
          <span class="font-weight-bold">總金額 ({{ selectedCount }} 個商品): </span>
          <span class="text-danger font-weight-bold display-6">NT${{ totalPrice | number:'1.0-0' }}</span>
        </div>

        <!-- 按鈕 -->
        <div class="ml-3 mb-2">
          <button class="btn btn-primary btn-lg btn-square rounded text-center mr-2 pb-2"
            style="width: 120px; height: auto;" (click)="checkOut()">
            <i class="fa-solid fa-cash-register"></i>&nbsp;&nbsp;買單
          </button>
          <button class="btn btn-secondary btn-lg btn-square rounded text-center mr-2"
            style="width: 120px; height: auto;" (click)="removeSelectedItems()">
            <i class="fa-solid fa-trash"></i>&nbsp;&nbsp;刪除
          </button>
        </div>

      </div>

    </div>

  </div>
