.productCart {
  background-color: rgb(122, 183, 48);
  font-weight: bold;
  color:white
}

.ticketCart {
  background-color: lightblue;
  font-weight: bold;
}

.eventCart {
  background-color: lightpink;
  font-weight: bold;
}

img {
  width: 64px;
  height: 64px;
}
