<div class="chat-box">
  <div class="chat-header">
    <div>
      <img [src]="chatUser.image" class="rounded-circle mr-2" style="width: 30px;height: 30px; object-fit: cover" />
      <span>{{ chatUser.name }}</span>
    </div>
    <button (click)="closeChat()">✖</button>
  </div>

  <div class="chat-messages">
    <div *ngFor="let msg of messages" class="message">
      <div class="message-header message-header-right">
        <img [src]="msg.senderImg" class="rounded-circle mr-2" style="width: 30px;height: 30px; object-fit: cover" />
        <p>{{ msg.senderName }}</p>
      </div>
      <div class="message-text mt-1 message-text-right">
        {{ msg.message }}
      </div>
    </div>
  </div>

  <div class="chat-input">
    <input type="text" [(ngModel)]="messageText" placeholder="輸入訊息..." (keydown.enter)="sendMessage()" />
    <button (click)="sendMessage()">發送</button>
  </div>
</div>