<div class="chat-box">
  <div class="chat-header">
    <div>
      <img [src]="chatUser.image" class="rounded-circle mr-2 user-image" />
      <span (click)="defaultMessage();">{{ chatUser.name }}</span>
    </div>
    <a class="mr-2" role="button" (click)="closeChat()"><i class="fa-solid fa-xmark"></i></a>
  </div>

  <div #chatContainer class="chat-messages">
    <div *ngFor="let msg of messages" class="message">
      <div class="d-flex" [ngClass]="{'to-right': msg.senderId === currentUser.id}">
        <img [src]="msg.senderImg" class="rounded-circle mr-2 user-image" />
        <p class="text-middle">{{ msg.senderName }}</p>
      </div>
      <div class="mt-1" [ngClass]="{'to-right': msg.senderId === currentUser.id}">
        <div class="message-text">
          {{ msg.message }}
        </div>
      </div>
    </div>
  </div>

  <div class="chat-outer">
    <div class="chat-input-box">
      <input type="text" class="chatInput w-100 ml-2" placeholder="留言......" [(ngModel)]="messageText"
        (keydown.enter)="sendMessage()">
      <a role="button" class="mr-2" (click)="sendMessage()"><i class="fa-solid fa-paper-plane"></i></a>
    </div>
  </div>
</div>