<!-- Header Start -->
<div class="container-fluid page-header">
  <div class="container">
    <div
      class="d-flex flex-column align-items-center justify-content-center"
      style="min-height: 400px"
    >
      <h3 class="display-4 text-white text-uppercase">景點</h3>
      <div class="d-inline-flex text-white">
        <p class="m-0 text-uppercase">
          <a class="text-white" routerLink="">首頁</a>
        </p>
        <i class="fa fa-angle-double-right pt-1 px-3"></i>
        <p class="m-0 text-uppercase">景點</p>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- Booking Start -->
<div class="container-fluid booking mt-5 pb-5">
  <div class="container pb-5">
    <div class="bg-light shadow" style="padding: 30px">
      <div class="row align-items-center" style="min-height: 60px">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-3">
              <div class="mb-3 mb-md-0">
                <select class="custom-select px-4" style="height: 47px">
                  <option selected>Destination</option>
                  <option value="1">Destination 1</option>
                  <option value="2">Destination 1</option>
                  <option value="3">Destination 1</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 mb-md-0">
                <div class="date" id="date1" data-target-input="nearest">
                  <input
                    type="text"
                    class="form-control p-4 datetimepicker-input"
                    placeholder="Depart Date"
                    data-target="#date1"
                    data-toggle="datetimepicker"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 mb-md-0">
                <div class="date" id="date2" data-target-input="nearest">
                  <input
                    type="text"
                    class="form-control p-4 datetimepicker-input"
                    placeholder="Return Date"
                    data-target="#date2"
                    data-toggle="datetimepicker"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 mb-md-0">
                <select class="custom-select px-4" style="height: 47px">
                  <option selected>Duration</option>
                  <option value="1">Duration 1</option>
                  <option value="2">Duration 1</option>
                  <option value="3">Duration 1</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button
            class="btn btn-primary btn-block"
            type="submit"
            style="height: 47px; margin-top: -2px"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Booking End -->

<!-- start your coding here-->
<!-- Grid View -->
<div class="container mt-4">
  <div class="row">
    <!-- Card -->
    <!-- 使用 let i = index 獲取目前的索引。 -->
    <div
      class="col-md-4"
      *ngFor="let attraction of partialAttractions; let i = index"
    >
      <div class="card">
        <div class="views">
          <i class="fas fa-eye"></i> {{ attraction.fattractionViewCount }}
        </div>
        <img
          [src]="imageSrc[i] || 'assets/images/noImage.jpg'"
          class="card-img-top"
          [alt]="attraction.fAttractionName"
        />
        <div class="card-body">
          <h5 class="card-title">{{ attraction.fAttractionName }}</h5>
          <!-- 景點 tags -->
          <div class="tags">
            <ng-container *ngFor="let tag of attractionTags">
              <span *ngIf="attraction.fAttractionId === tag.fAttractionId">
                #{{ tag.fTagName }}
              </span>
            </ng-container>
          </div>
          <button
            (click)="clickShowDetail(attraction.fAttractionId!)"
            data-toggle="modal"
            data-target="#attractionModal"
          >
            <i class="fa-solid fa-circle-info"></i>
            詳細資訊
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Start-->
<div
  class="modal fade"
  id="attractionModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-lg modal-custom-width"
    role="document"
  >
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h2 class="modal-title w-100" id="FAttractionName">
          {{ attraction.fAttractionName }}
        </h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <!-- 設置 80% 寬度的容器 -->
        <div class="modal-content-wrapper">
          <!-- 圖片 & 資訊並排 -->
          <div class="modal-flex">
            <!-- 左側：圖片 -->
            <div class="modal-image-container">
              <!-- carousel 顯示已經存進的圖片 -->
              <div
                id="carouselExampleInterval"
                class="carousel slide carousel-fade"
                data-ride="carousel"
              >
                <div id="displayImageContainer" class="carousel-inner">
                  <!-- 動態載入圖片 -->
                </div>
                <a
                  class="carousel-control-prev"
                  href="#carouselExampleInterval"
                  role="button"
                  data-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                  class="carousel-control-next"
                  href="#carouselExampleInterval"
                  role="button"
                  data-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>

            <!-- 右側：景點資訊 -->
            <div class="modal-info-container">
              <div class="info-section">
                <div>
                  <h5 class="info-title">景點介紹</h5>
                  <p>{{ attraction.fDescription }}</p>
                </div>
                <div>
                  <h5 class="info-title">地址</h5>
                  <div>{{ attraction.fAddress }}</div>
                </div>
                <div>
                  <h5 class="info-title">網址</h5>
                  <a [href]="attraction.fWebsiteUrl" target="_blank">{{
                    attraction.fWebsiteUrl
                  }}</a>
                </div>
                <div>
                  <h5 class="info-title">交通資訊</h5>
                  <div>{{ attraction.fTrafficInformation }}</div>
                </div>
              </div>
            </div>
          </div>

          <!-- 地圖 -->
          <div class="map-container">
            <div #mapContainer class="map-content"></div>
          </div>

          <!-- 評論 -->
          <div class="comment-section">
            <div class="comment-header">
              <h3 class="comment-title">評論</h3>
              <div class="comment-buttons">
                <button
                  (click)="toggleSort(attraction.fAttractionId!)"
                  class="btn btn-sort"
                >
                  {{ commentComponent.sortButtonText }}
                </button>
                <button
                  (click)="toggleCollapse(attraction.fAttractionId!)"
                  class="btn btn-toggle"
                >
                  {{ commentComponent.collapseButtonText }}
                </button>
              </div>
            </div>
            <div class="comment-line"></div>
            <!-- 灰色底線 -->
            <div
              *ngFor="let comment of attractionComment"
              class="comment-container"
            >
              <img
                src="assets/images/head001.jpg"
                class="comment-img"
                alt="user image"
              />
              <!-- <img
                [src]="comment.userImage || 'assets/images/default-user.png'"
                class="comment-img"
                alt="user image"
              /> -->
              <div class="comment-details">
                <div class="comment-header">
                  <span class="comment-username">{{ comment.fUserName }}</span>
                  <span class="comment-date">{{ comment.fCreatedDate }}</span>
                </div>
                <div class="comment-text">{{ comment.fComment }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal End-->

<!-- Pagination -->
<nav aria-label="..." class="d-flex justify-content-center">
  <ul class="pagination">
    <!-- 上一頁 -->
    <li class="page-item" (click)="clickPreviousPage()">
      <a class="page-link" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <!-- 頁碼 -->
    <div *ngFor="let index of Page.pages">
      <li
        class="page-item"
        [ngClass]="{ active: Page.selectedPageIndex === index }"
        (click)="setSelectedPageIndex(index)"
      >
        <a class="page-link">{{ index + 1 }}</a>
      </li>
    </div>
    <!-- 下一頁 -->
    <li class="page-item" (click)="clickNextPage()">
      <a class="page-link" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
