<div class="container">
  <h2>活動報名</h2>
  <button *ngIf="isAuthenticated" (click)="register()" class="btn btn-primary">我要報名</button>
  <button *ngIf="!isAuthenticated" class="btn btn-warning" routerLink="/login">請先登入</button>

  <h3 class="mt-4">已報名人員</h3>
  <ul class="list-group">
    <li *ngFor="let r of registrations" class="list-group-item">
      {{ r.UserName }} ({{ r.FRegistrationStatus }})
      <button *ngIf="isAuthenticated" (click)="cancelRegistration(r.FEventRegistrationFormId)" class="btn btn-danger btn-sm float-right">取消報名</button>
    </li>
  </ul>
</div>
