<!-- Header Start -->
<div class="container-fluid page-header">
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
      <h3 class="display-4 text-white text-uppercase">帳戶</h3>
      <div class="d-inline-flex text-white">
        <p class="m-0 text-uppercase"><a class="text-white" routerLink="">首頁</a></p>
        <i class="fa fa-angle-double-right pt-1 px-3"></i>
        <p class="m-0 text-uppercase">帳戶</p>
        <i class="fa fa-angle-double-right pt-1 px-3"></i>
        <p class="m-0 text-uppercase">帳戶註冊</p>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- Booking Start -->
<!-- Booking End -->

<!-- start your coding here-->

<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="text-center mb-3 pb-3">
      <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">帳戶註冊</h6>
      <h1>建立帳戶</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="contact-form bg-white" style="padding: 30px;">
          <div id="success"></div>

          <form name="sentMessage" id="contactForm" #f="ngForm" novalidate="novalidate">

            <!-- 用戶名稱輸入 -->
            <div class="control-group mb-2">
              <h5 class="text-uppercase">用戶名稱</h5>
              <input type="text" class="form-control p-4" id="userName" placeholder="用戶名稱最多20字" required="required"
                maxlength="20" [(ngModel)]="user.fUserName" name="fUserName" #name="ngModel" />
              <p class="help-block text-danger" *ngIf="name.invalid && name.touched">請輸入用戶名稱</p>
            </div>

            <!-- 暱稱輸入 -->
            <div class="control-group mb-2">
              <h5 class="text-uppercase">暱稱</h5>
              <input type="text" class="form-control p-4" id="userNickName" placeholder="暱稱最多20字" required="required"
                maxlength="20" [(ngModel)]="user.fUserNickName" name="fUserNickName" #nickName="ngModel" />
              <p class="help-block text-danger" *ngIf="nickName.invalid && nickName.touched">請輸入暱稱</p>
            </div>


            <!-- 帳號(email)輸入 -->
            <div class="control-group mb-2">
              <h5 class="text-uppercase">帳號</h5>
              <input type="email" class="form-control p-4" id="userEmail" placeholder="請輸入電子郵件" required="required"
                [(ngModel)]="user.fUserEmail" name="fUserEmail" #userEmail="ngModel" />
              <p class="help-block text-danger" *ngIf="userEmail.invalid && userEmail.touched">請輸入電子郵件</p>
            </div>


            <!-- 密碼輸入 -->
            <div class="control-group mb-4">
              <h5 class="text-uppercase">密碼</h5>
              <div class="input-group">
                <input type="{{passwordType}}" class="form-control p-4" id="userPassword" placeholder="請輸入密碼"
                  required="required" [(ngModel)]="user.fUserPassword" name="fUserPassword" #userPassword="ngModel" />
                <button class="btn btn-outline-primary pb-0" (click)="seePassword()">
                  <i *ngIf="passwordType == 'text'" class="fa-regular fa-eye h4"></i>
                  <i *ngIf="passwordType == 'password'" class="fa-regular fa-eye-slash h4"></i>
                </button>
              </div>
              <p class="help-block text-danger" *ngIf="userPassword.invalid && userPassword.touched">請輸入密碼</p>
            </div>


          </form>

          <!-- 送出按鈕 -->
          <div class="text-center">
            <button class="btn btn-primary py-3 px-4  mx-3" type="text" (click)="submit(f)"
              id="sendMessageButton">創建帳號</button>

            <button class="btn btn-secondary py-3 px-4" type="text" (click)="goToUserPage()">取消
            </button>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>