a {
  text-decoration: none;
}

.threeBtn {
  opacity: 0;
  color: #56bda9;
  transition: opacity 0.3s ease;

}

.threeBtnDiv:hover .threeBtn {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.topBtn:hover {
  transform: translateY(+10px);
}