a {
  text-decoration: none;
}

.threeBtn {
  opacity: 0;
  color: #56bda9;
  transition: opacity 0.3s ease;

}

.threeBtnDiv:hover .threeBtn {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.topBtn:hover {
  transform: translateY(+10px);
}

.img-div {
  border-radius: 15px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.img-divfull {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}