#myArticle img {
  height: 272.5px;
  object-fit: cover;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.image-container img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* 半透明灰色 */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  opacity: 0;
  /* 預設不顯示 */
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
  text-decoration: none;
}

.image-container:hover .overlay {
  opacity: 1;
  /* 滑鼠懸停時顯示 */
}

.overlay p {
  margin: 5px 0;
}

.overlay i {
  margin-right: 5px;
}

.modal-custom {
  max-width: 1000px;
}

::ng-deep .ck-editor__editable_inline {
  min-height: 325px;
  max-height: 325px;
  overflow-y: auto;
}

.search-bar-container {
  position: sticky;
  top: 0;
}

.form-select {
  text-align: center;
  letter-spacing: 5px;
}

.col-4 {
  padding-left: 5px;
  padding-right: 5px;
}

.row {
  padding-left: 10px;
  padding-right: 10px;
}

.custom-btn {
  border-radius: 15px;
  border: 3px solid #8cae78;
  background-color: #ffffff;
  padding: 4px;
  display: inline-block;
  color: white;
  outline: none;
  box-shadow: none;
}

.custom-btn-inner {
  border-radius: 15px;
  background-color: #8cae78;
  padding: 10px;
}

.custom-btn:hover .custom-btn-inner i {
  color: white !important;
}

.custom-btn:hover .custom-btn-inner {
  background-color: #8cae78cb;
}

.custom-btn:active {
  border-color: #8cae78cb;
}

.custom-select {
  border: 3px solid #8cae78;
  border-radius: 15px;
  height: 47px;
  text-align: center;
  letter-spacing: 5px;
  color: #8cae78;
}


.custom-input {
  border: 3px solid #8cae78;
  border-radius: 15px;
  height: 47px;
  padding-left: 20px
}

.custom-date {
  border: 3px solid #8cae78;
  border-radius: 15px;
  height: 47px;
  text-align: center;
  color: #8cae78;
  padding-right: 5px;
}

.custom-input:focus,
.custom-select:focus,
.custom-date:focus {
  border-color: #8cae78cb;
  outline: none;
  box-shadow: none;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}