<!-- Header Start -->
<div class="container-fluid page-header">
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
      <h3 class="display-4 text-white text-uppercase">個人文章</h3>
      <div class="d-inline-flex text-white">
        <p class="m-0 text-uppercase">個人文章</p>
        <i class="fa fa-angle-double-right pt-1 px-3"></i>
        <p class="m-0 text-uppercase"><a class="text-white" routerLink="/socialmedia">社群</a></p>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- Booking Start -->
<div class="container-fluid booking mt-5 pb-5 search-bar-container">
  <div class="container pb-5">
    <div class="bg-light shadow" style="padding: 30px;">
      <div class="row align-items-center" style="min-height: 60px;">
        <div class="col-md-3">
          <button class="custom-btn w-100" data-toggle="modal" data-target="#modal" (click)="reset()">
            <div class="custom-btn-inner">
              <i class="fa-solid fa-pencil"></i>
              <span>寫文章</span>
            </div>
          </button>
        </div>
        <div class="col-md-3">
          <select class="custom-select w-100">
            <option value="">類別</option>
            <option value="tech">健行</option>
            <option value="lifestyle">美食</option>
          </select>
        </div>
        <div class="col-md-3 w-100" style="height: 47px;">
          <input type="date" class="custom-date w-100">
        </div>
        <div class="col-md-3" style="height: 47px;">
          <input type="text" class="custom-input w-100" placeholder="關鍵字搜尋">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Booking End -->

<!-- start your coding here-->
<div>{{editorData}}</div>
<div [innerHTML]="finalData">123</div>

<div id="myArticle" class="container">
  <div class="row" infiniteScroll [infiniteScrollDistance]="0.5" [infiniteScrollThrottle]="300" (scrolled)="onScroll()">
    <div *ngFor="let data of datas" class="col-4">
      <div *ngIf="imageData[data['fPostId']] && imageData[data['fPostId']].length > 0" class="image-container">
        <img [src]="imageData[data['fPostId']][0]" class="w-100" style="border-radius: 5px;" />
        <div class="overlay">
          <p><i class="fas fa-heart"></i> 10</p>
          <p><i class="fas fa-comment"></i> 3</p>
        </div>
      </div>
      <div *ngIf="!imageData[data['fPostId']] || imageData[data['fPostId']].length == 0" class="image-container">
        <img src="/assets/images/noImage.jpg" class="w-100" />
        <div class="overlay">
          <p><i class="fas fa-heart"></i> 10</p>
          <p><i class="fas fa-comment"></i> 3</p>
        </div>
      </div>
    </div>
    <div *ngIf="loading" class="loading-spinner"></div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-custom modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">建立新貼文</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <div>
              <div *ngIf="imagePreviews.length > 0" class="image-container">
                <img [src]="imagePreviews[currentIndex]" class="w-100" style="object-fit: cover;height: 465px">
                <div class="overlay">
                  <a (click)="removeImage(currentIndex)" role="button"><i class="fa-solid fa-trash-can"></i></a>
                </div>
              </div>
              <div *ngIf="imagePreviews.length === 0">
                <img src="assets/images/noImage.jpg" class="w-100" style="object-fit: cover;height: 465px">
              </div>
              <a class="carousel-control-prev" (click)="prevImage()">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" (click)="nextImage()">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
          <div class="col-4">
            <input type="text" class="form-control mb-3" placeholder="請輸入文章標題!" [(ngModel)]="articleTitle">
            <div class="editor-container">
              <ckeditor [editor]="Editor" [config]="config" [(ngModel)]="editorData" *ngIf="Editor && config" />
            </div>
            <button type="button" class="btn btn-secondary" (click)="fileInput.click()">選擇圖片</button>
            <input type="file" #fileInput (change)="onFileSelected($event)" multiple class="d-none">
            <label for="articleStatus" class="mt-3 ml-1">文章狀態：</label>
            <select id="articleStatus" [(ngModel)]="articleStatus">
              <option *ngFor="let status of statuses" [value]="status.value">
                {{ status.label }}
              </option>
            </select>
            <button type="button" class="btn btn-primary mt-2 float-right" data-dismiss="modal"
              (click)="save()">確認</button>
          </div>
        </div>
      </div>
    </div>
  </div>