.hr-edge-weak {
  border: 0;
  padding-top: 1px;
  background: linear-gradient(to right, transparent, #d0d0d5, transparent);
}

.hr-edge-weak::before {
  content: "我要更改密碼";
  display: inline-block;
  position: relative;
  top: -0.7em;
  /* 调整文字位置 */
  background-color: white;
  /* 调整文字背景色 */
  padding: 0 0.5em;
  /* 调整文字的左右间距 */
  left: 50%;
  /* 從父元素的左邊開始定位 */
  transform: translateX(-50%);
  /* 用 transform 來實現水平居中 */
}

.hr-edge-weak:hover {
  color: #8cae78;
  cursor: pointer;
}


.img-div {
  border-radius: 15px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.img-divfull {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}