<!-- Header Start -->
<div class="container-fluid page-header">
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
      <h3 class="display-4 text-white text-uppercase">帳戶</h3>
      <div class="d-inline-flex text-white">
        <p class="m-0 text-uppercase"><a class="text-white" routerLink="">首頁</a></p>
        <i class="fa fa-angle-double-right pt-1 px-3"></i>
        <p class="m-0 text-uppercase">帳戶</p>
        <i class="fa fa-angle-double-right pt-1 px-3"></i>
        <p class="m-0 text-uppercase">密碼修改</p>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- Booking Start -->
<!-- Booking End -->

<!-- start your coding here-->

<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="text-center mb-3 pb-3">
      <!-- <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">密碼修改</h6> -->
      <h1>密碼修改</h1>
    </div>
    <!-- <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="contact-form bg-white" style="padding: 30px;">
          <div id="success"></div> -->



    <div *ngIf="isLoding" class="mx-auto" style="color: #8cae78;">
      <div class="text-center"><i class="fa-solid fa-spinner fa-spin-pulse" style="font-size:35px"></i>
        <p class="mt-1">Loding...</p>
      </div>
    </div>


    <!-- 步驟1 -->
    <!-- 帳號(email)輸入 -->

    <div *ngIf="sendEmail==1 && !isLoding" class="row justify-content-center">
      <div class="col-lg-8">
        <div class="contact-form bg-white" style="padding: 30px;">

          <form name="sentMessage" id="contactForm" #e="ngForm" novalidate="novalidate">

            <div class="control-group mb-3">
              <h5 class="text-uppercase">帳號</h5>
              <input type="email" class="form-control p-4" id="userEmail" placeholder="請輸入電子郵件" required="required"
                [(ngModel)]="user.email" name="fUserEmail" #userEmail="ngModel" email />
              <p class="help-block text-danger" *ngIf="userEmail.invalid && userEmail.touched">請輸入電子郵件</p>
            </div>

            <!-- 送出按鈕(email) -->
            <div class="text-center">
              <button class="btn btn-primary py-3 px-4  mx-3" type="text" (click)="submitEmail(e)"
                id="sendMessageButton">送出驗證信</button>

              <button class="btn btn-secondary py-3 px-4" type="text" (click)="goToUserPage()">取消
              </button>
            </div>



          </form>

        </div>
      </div>
    </div>



    <!-- 步驟2 -->
    <!-- 驗證Email -->
    <div *ngIf="sendEmail==2" class="row justify-content-center">
      <div class="col-lg-8">
        <div class="contact-form bg-white" style="padding: 30px;">

          <!-- <form name="sentMessage" id="contactForm" #v="ngForm" novalidate="novalidate"> -->

          <div class="control-group mb-3">
            <h4 class="text-center">請輸入驗證碼</h4>
            <input type="text" class="form-control p-4" placeholder="請輸入驗證碼" minlength="6" maxlength="6"
              (keyup)="keyupVerification()" [(ngModel)]="VerificationCode" />
          </div>

          <!-- </form> -->

        </div>
      </div>
    </div>


    <!-- 步驟3 -->
    <!-- 密碼輸入 -->
    <div *ngIf="sendEmail==3" class="row justify-content-center">
      <div class="col-lg-8">
        <div class="contact-form bg-white" style="padding: 30px;">

          <form name="sentMessage" id="contactForm" #f="ngForm" novalidate="novalidate">

            <div class="control-group mb-4">
              <h5 class="text-uppercase">密碼</h5>
              <div class="input-group">
                <input type="{{passwordType}}" class="form-control p-4" id="userPassword" placeholder="請輸入密碼"
                  required="required" [(ngModel)]="user.password" name="fUserPassword" #userPassword="ngModel" />
                <button class="btn btn-outline-primary pb-0" style="width: 55px;" (click)="seePassword()">
                  <i *ngIf="passwordType == 'text'" class="fa-regular fa-eye h4"></i>
                  <i *ngIf="passwordType == 'password'" class="fa-regular fa-eye-slash h4"></i>
                </button>
              </div>
              <p class="help-block text-danger" *ngIf="userPassword.invalid && userPassword.touched">請輸入密碼</p>
            </div>

            <div class="control-group mb-4">
              <h5 class="text-uppercase">用戶密碼確認</h5>
              <div class="input-group">
                <input type="{{passwordType}}" class="form-control p-4" id="userPassword" placeholder="請再次輸入用戶密碼"
                  required="required" [(ngModel)]="chackPassword" name="chackPassword" #userPassword="ngModel" />
                <button class="btn btn-outline-primary pb-0" style="width: 55px;" (click)="seePassword()">
                  <i *ngIf="passwordType == 'text'" class="fa-regular fa-eye h4"></i>
                  <i *ngIf="passwordType == 'password'" class="fa-regular fa-eye-slash h4"></i>
                </button>
              </div>
              <p class="help-block text-danger" *ngIf="userPassword.invalid && userPassword.touched">請再次輸入用戶密碼</p>
            </div>


          </form>

          <!-- 送出按鈕 -->
          <div class="text-center">
            <button class="btn btn-primary py-3 px-4  mx-3" type="text" (click)="submit(f)"
              id="sendMessageButton">確認修改</button>

            <button class="btn btn-secondary py-3 px-4" type="text" (click)="goToUserPage()">取消
            </button>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>