button:hover i {
  color: gray !important;
}

.post p,
strong {
  color: black;
}

.search-bar-container {
  position: sticky;
  top: 0;
}


.contact-card {
  display: flex;
  align-items: center;
  padding: 8px 0;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.fixed-sidebar {
  position: sticky;
  top: 200px;
}

.custom-btn {
  border-radius: 15px;
  border: 3px solid #8cae78;
  background-color: #ffffff;
  padding: 4px;
  display: inline-block;
  color: white;
  outline: none;
  box-shadow: none;
}

.custom-btn-inner {
  border-radius: 15px;
  background-color: #8cae78;
  padding: 10px;
}

.custom-btn:hover .custom-btn-inner i {
  color: white !important;
}

.custom-btn:hover .custom-btn-inner {
  background-color: #8cae78cb;
}

.custom-btn:active {
  border-color: #8cae78cb;
}

.custom-select {
  border: 3px solid #8cae78;
  border-radius: 15px;
  height: 47px;
  text-align: center;
  letter-spacing: 5px;
  color: #8cae78;
}


.custom-input {
  border: 3px solid #8cae78;
  border-radius: 15px;
  height: 47px;
  padding-left: 20px
}

.custom-input:focus,
.custom-select:focus {
  border-color: #8cae78cb;
  outline: none;
  box-shadow: none;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.comment-input-box {
  background-color: white;
  border: 2px solid rgb(216, 215, 215);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.commentInput {
  border: none;
  padding: 5px 0;
  outline: none;
}

.comment-input-box a,
#actions a {
  color: gray
}

.comment-input-box a:hover,
#actions a:hover {
  color: rgba(119, 119, 119, 0.5);
}

.comment-input-box a:active,
#actions a:active {
  color: rgb(119, 119, 119, 0.7);
}

.comment-container {
  max-height: 300px;
  overflow-y: auto;
}

.comment-context {
  display: block;
}

.comment-delete {
  display: none;
  position: relative;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.comment-context:hover .comment-delete {
  display: inline;
  color: rgb(216, 215, 215);
}

.comment-context:hover .comment-delete:hover {
  color: rgb(177, 175, 175, 0.5)
}

.comment-context:hover .comment-delete:active {
  color: rgb(177, 175, 175, 0.7)
}