<!-- Header Start -->
<div class="container-fluid page-header">
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
      <h3 class="display-4 text-white text-uppercase">帳戶</h3>
      <div class="d-inline-flex text-white">
        <p class="m-0 text-uppercase"><a class="text-white" routerLink="">首頁</a></p>
        <i class="fa fa-angle-double-right pt-1 px-3"></i>
        <p class="m-0 text-uppercase">帳戶</p>
        <i class="fa fa-angle-double-right pt-1 px-3"></i>
        <p class="m-0 text-uppercase">帳戶登入</p>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- Booking Start -->
<!-- Booking End -->

<!-- start your coding here-->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="text-center mb-3 pb-3">
      <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">帳戶登入</h6>
      <h1>已有帳號?</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="contact-form bg-white" style="padding: 30px;">
          <div id="success"></div>


          <form name="sentMessage" id="contactForm" #f="ngForm" novalidate="novalidate">
            <!-- 帳號輸入 -->
            <div class="control-group mb-3">
              <h5 class="text-uppercase">帳號</h5>
              <input type="text" class="form-control p-4" id="account" placeholder="請輸入Email" required="required"
                [(ngModel)]="fUserEmail" name="fUserEmail" #Email="ngModel" />
              <p class="help-block text-danger" *ngIf="Email.invalid && Email.touched">請輸入帳號</p>
            </div>

            <!-- 密碼輸入 -->
            <!-- 密碼輸入 -->
            <div class="control-group mb-4">
              <h5 class="text-uppercase">密碼</h5>
              <div class="input-group">
                <input type="{{passwordType}}" class="form-control p-4" id="userPassword" placeholder="請輸入密碼"
                  required="required" [(ngModel)]="fUserPassword" name="fUserPassword" #userPassword="ngModel" />
                <button class="btn btn-outline-primary pb-0" (click)="seePassword()">
                  <i *ngIf="passwordType == 'text'" class="fa-regular fa-eye h4"></i>
                  <i *ngIf="passwordType == 'password'" class="fa-regular fa-eye-slash h4"></i>
                </button>
              </div>
              <p class="help-block text-danger" *ngIf="userPassword.invalid && userPassword.touched">請輸入密碼</p>
            </div>


            <!-- <div class="control-group mb-3">
              <h5 class="text-uppercase">密碼</h5>
              <input type="password" class="form-control p-4" id="password" placeholder="請輸入密碼" required="required"
                [(ngModel)]="fUserPassword" name="fUserPassword" #Password="ngModel" />
              <p class="help-block text-danger" *ngIf="Password.invalid && Password.touched">請輸入密碼</p>
            </div> -->
          </form>



          <!-- 送出按鈕 -->
          <div class="text-center">
            <button class="btn btn-primary py-3 px-4" type="text" id="sendMessageButton" (click)="submit(f)">確認</button>
          </div>



          <!-- 創建帳號及忘記密碼 -->
          <div class="control-group text-center mt-5">

            <h5 class="text-primary text-uppercase">

              <a [routerLink]="['/user/add']">建立帳號</a>

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <a (click)="editPassWord()" [routerLink]="['/user/editPassword']">忘記密碼</a>
            </h5>



          </div>

        </div>
      </div>
    </div>
  </div>
</div>